@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background: linear-gradient(90deg, #356FBA 0%, #413DBB 71.52%);
    width: 100%;
    padding: 7px;
}

.logo {
    width: 80%;
}

.logo img {
    width: 44px;
}

.logo a {
    color: #F2F5F9;
    text-decoration: none;
    padding-right: 8px;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
}

.menu nav {
    font-family: 'Raleway', sans-serif;
    position: relative;
    list-style: none;
    display: flex;
}


.menu nav li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav ::after {
    content: " ";
    width: 0px;
    height: 3px;
    background-color: #356FBA;
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.8s;
}

.nav ::hover::after {
    width: 55px;
}

.dropdown-item.active,
.dropdown-item:active {
  background: red;
  color: green;
}
/* font-family: 'Montserrat', sans-serif; */